#app {
  padding: 30px;
}

table.explorer {
  width: 700px;
}

table.explorer tr td {
  padding: 0px;
  height: 40px;
  line-height: 40px;
  padding: 0px 10px;
}

.glyphicon-menu-right {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 60%;
  color: #888;
}

.glyphicon-folder-close {
  margin-right: 5px;
}
